<section class="product-container">
  <div class="product-image">
    <img [src]="produto?.imagem" alt="" />
  </div>
  <div class="product-description">
    <h2 class="product-name">{{ produto?.descricao }}</h2>
    <h3 class="product-price">{{ produto?.preco | currency: "BRL" }}</h3>
    <p>Estoque disponível:</p>
    <label>
      Quantidade:
      <input type="number" [(ngModel)]="quantidade" min="1" />
      unidade(s)
    </label>
    <p class="product-avaiability">
      {{ produto?.quantidadeEstoque }} unidade(s) em estoque
    </p>
    <button (click)="adicionarAoCarrinho()" type="button">
      Adicionar ao carrinho
    </button>
  </div>
</section>
