<footer class="footer">
  <div class="container">
    <section>
      <h2 class="footer-title">Sobre</h2>
      <p class="footer-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam error aut
        tempora minima, magni sunt magnam autem et cupiditate qui excepturi
        eligendi quo dolor a exercitationem odit repellendus rerum officiis.
      </p>
    </section>
    <address>
      <h2 class="footer-title">Contato</h2>
      <ul>
        <li>
          <fa-icon [icon]="mail"></fa-icon>
          email@email.com
        </li>
        <li>
          <fa-icon [icon]="phone"></fa-icon>
          (00) 0000-0000
        </li>
        <li>
          <fa-icon [icon]="whatsapp"></fa-icon>
          (00) 00000-0000
        </li>
        <li>
          <fa-icon [icon]="linkedin"></fa-icon>
          <a
            href="https://www.linkedin.com/in/rafael-de-souza-freire-96a94171/"
          >
            Rafael de Souza Freire</a
          >
        </li>
      </ul>
    </address>
  </div>
  <section class="copyright">&copy; Todos os direitos reservados!</section>
</footer>
